<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script>
      <%=htmlWebpackPlugin.options.amfeFlexible%>
    </script>
    <title>Document</title>
  </head>
  <body>
    <div class=test></div>
    <img src="<%=require('./img/s.png')%>" alt="">

  </body>
</html>
